* {font-family: helvetica;}

#row1{
background-color: #168F3F;
font-size: 20px;
color: white;
text-align: center;
font-weight: bolder;
}
.col-8{
padding: 18px;
}
.opcao{
display: block;
margin-left: 17px;
margin-top: 24px;
width: 20px;
}
.seta{
display: block;
margin-left: 0px;
margin-top: 15px;
width: 38px;
}
#line1{
padding: 10px;
background-color: #DCE9E6;
font-size: 17px;
color: #168F3F;
text-align: center;
display: block;
}
#line2{
padding-top: 1px;
background-color: #DCE9E6;
}   
.imagem{
display: block;
margin-left: 30px;
margin-top: center;
width: 30px;
}
.col-3{
padding: 8px;
text-align: center;
display: block;
color: #403F3F;
}
.col-6{
padding: 12px;
text-align: center;
display: block;
color: #403F3F;
}
#col-3{
padding: 12px;
}
#link{
text-decoration: none;
color: #403F3F;
}
